@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fix chrome input default background */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #0D0A11 inset !important;
  -webkit-text-fill-color: #CCCCCC !important;
}

@media (max-width: 1279px) {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #26095F inset !important;
    -webkit-text-fill-color: #CCCCCC !important;
  }
}

html,
body, input {
  padding: 0;
  margin: 0;
  font-family: var(--font-peyda), serif !important;
  direction: rtl;
  color: white;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
}

.Toastify__toast-container{
  min-width: fit-content !important;
}

.toast-body{
  font-family: var(--font-peyda), serif !important;
}

@layer components {

  /* Mobile: */
  @media (min-width: 0) {
    .h1 {
      font-size: 28px;
      font-weight: 400;
      line-height: 50px;
    }

    .h2 {
      font-size: 26px;
      font-weight: 400;
      line-height: 50px;
    }

    .h3 {
      font-size: 24px;
      font-weight: 400;
      line-height: 45px;
    }

    .h4 {
      font-size: 20px;
      font-weight: 400;
      line-height: 40px;
    }

    .h5 {
      font-size: 18px;
      font-weight: 400;
      line-height: 38px;
    }

    .h6 {
      font-size: 16px;
      font-weight: 400;
      line-height: 34px;
    }

    .b1 {
      font-size: 15px;
      font-weight: 300;
      line-height: 32px;
    }

    .b2 {
      font-size: 14px;
      font-weight: 300;
      line-height: 30px;
    }

  }
  /* Desktop: */
  @media (min-width: 1024px) {
    .h1 {
      font-size: 36px;
      font-weight: 400;
      line-height: 50px;
    }

    .h2 {
      font-size: 32px;
      font-weight: 400;
      line-height: 50px;
    }

    .h3 {
      font-size: 28px;
      font-weight: 500;
      line-height: 50px;
    }

    .h4 {
      font-size: 22px;
      font-weight: 500;
      line-height: 40px;
    }

    .h5 {
      font-size: 20px;
      font-weight: 400;
      line-height: 38px;
    }

    .h6 {
      font-size: 18px;
      font-weight: 400;
      line-height: 34px;
    }

    .b1 {
      font-size: 16px;
      font-weight: 400;
      line-height: 32px;
    }

    .b2 {
      font-size: 14px;
      font-weight: 400;
      line-height: 30px;
    }

  }
}