.ant-dropdown .ant-dropdown-menu {
  background-color: #1d1d41;
  padding: 8px;
}

.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item {
  color: #E5E5E5;
  padding: 4px 0;
}

.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item.ant-dropdown-menu-item-active {
  background-color: #5f39d6;
}
.ant-drawer .ant-drawer-body {
  background-color: #1d1d41;
  padding: 0;
}

.ant-drawer .ant-drawer-header {
  background-color: #1d1d41;
  padding: 12px;
}

.ant-popover {
  width: 25%;
  max-width: fit-content;
}

@media (max-width: 1024px) {
  .ant-popover {
    width: 55%;
  }
}


.g2-tooltip-title, .g2-tooltip-list{
  font-family: peyda, serif ;
  direction: ltr;
}

.ant-table-wrapper .ant-table {
  background-color: transparent !important;
  color: #E5E5E5 !important;
}

.ant-table-wrapper .ant-table-tbody >tr >td {
  border-bottom: 1px solid #323232 !important;
  background-color: transparent !important;
  color: #E5E5E5 !important;
}

.ant-table-wrapper .ant-table-thead >tr>th{
  border-bottom: 1px solid #323232 !important;
  background-color: #272752 !important;
  color: #E5E5E5 !important;
}

.ant-table-wrapper .ant-table-thead >tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before{
  background-color: transparent !important;
}
.ant-table-wrapper .ant-table-container table>thead>tr:first-child >*:first-child, .ant-table-wrapper .ant-table-container table>thead>tr:first-child >*:last-child{
  border-radius: 0 !important;
}

.ant-collapse-header-text, .ant-collapse-content-box{
  color: #E5E5E5 !important;
}

.ant-collapse-borderless >.ant-collapse-item{
  border-bottom: none !important;
  background-color: #272752 !important;
  border-radius: 8px !important;
}

.ant-modal .ant-modal-close{
  top: 12px;
}

.ant-modal .ant-modal-close:hover{
  background-color: transparent;
}
.ant-modal-root .ant-modal-mask{
  backdrop-filter: blur(8px);
}