.package1{
  background-image: url("/packages/full/package1.png");
}

.package2{
  background-image: url("/packages/full/package2.png");
}

.package3{
  background-image: url("/packages/full/package3.png");
}
